.skills-body {
  display: flex;
  flex-direction: column;
  padding: 50px;
}
.skills-body > .skills-type {
  margin-bottom: 20px;
}
.skills-type > h2 {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}
.skills-type > .container {
  display: flex;
  flex-wrap: wrap;
}
.skill-wrapper {
  margin-right: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}
.skill-wrapper > img {
  height: 40px;
}
.skill-wrapper > p {
  font-size: 14px;
  color: #666;
}
